.navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar .pages {
  display: flex;
  align-items: center;
  gap: 65px;
}

.navbar .pages ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar .pages ul a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 20px;
}

.navbar .cart a {
  color: white;
  font-size: 1.5rem;
  margin-right: 20px;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar .pages {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .navbar .pages ul {
    flex-direction: column;
  }

  .navbar .pages ul a {
    margin: 10px 0;
  }

  .navbar .pages.active {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
