* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
}

.container {
  width: 100vw;
  height: 100vh;
}

.navbar {
  height: 80px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
}

.navbar .pages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 600;
}

.navbar .pages ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

ul a {
  text-decoration: none;
  color: black;
  list-style: none;
  margin-left: 40px;
}

.cart {
  margin-left: 80px;
}

.cart i {
  text-decoration: none;
  color: black;
}

.content {
  padding: 50px;
}

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.slider {
  position: relative;
  width: 85vw;
  height: 18rem;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 25rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bottom i {
  font-size: 20px;
  cursor: pointer;
}

.dot {
  width: 50px;
  height: 10px;
  background-color: lightgray;
  border-radius: 30px;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(155, 171, 187);
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.random-card-container {
  column-gap: 40px;
  margin-top: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 450px;
  padding: 15px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  border: 1px solid grey;
  border-radius: 10px;
  font-weight: 600;
}

.category {
  font-size: 15px;
}

.card img {
  width: 90%;
  height: 70%;
  object-fit: cover;
  margin: auto;
}

.title {
  font-size: 18px;
  margin-bottom: 10px;
}

.quantity-input {
  display: flex;
  align-items: center;
  width: 120px;
}

.quantity-btn {
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
}

.quantity-field {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 18px;
}

.quantity-btn:hover {
  background-color: #aaa;
}

a {
  padding: 5px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  color: black;
}

.add-to-cart-btn {
  width: 100%;
  background-color: orangered;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.shop-content {
  /* display: flex; */
  /* align-items: center; */
  gap: 30px;
  width: 100%;
  height: 100%;
}

.categories-container {
  background-color: lightsteelblue;
  /* width: 15vw; */
  /* height: 100vh; */
}

.product-card-container {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px;
}

.cart-content {
  width: 100vw;
  /* height: 100vh; */
  /* background-color: lightblue; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.cart-items-container {
  width: 60vw;
}

.cart-item {
  display: flex;
  align-items: center;
  /* background-color: lightcoral; */
  margin-bottom: 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.product-details {
  margin-left: 60px;
  font-size: 18px;
}

.quantity-details {
  margin-left: 60px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.remove-item-btn {
  cursor: pointer;
  background-color: rgb(250, 19, 19);
  color: aliceblue;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
}

.price-container {
  width: 30vw;
  /* height: 100vh; */
  background-color: lightgray;
  padding: 40px;
  border: 1px solid black;
  border-radius: 10px;
}

.price-container h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.price-cart-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.cart-value {
  padding: 13px;
  background-color: orangered;
  font-size: 23px;
  font-weight: 600;
  color: aliceblue;
  border-radius: 10px;
}

.amount {
  text-align: center;
}